@font-face {
  font-family: "RoobertENEL-Regular";
  src: url(../public/fonts/RoobertENEL-Regular.woff2);
}
@font-face {
  font-family: "RoobertENEL-Light";
  src: url(../public/fonts/RoobertENEL-Light.woff2);
}
@font-face {
  font-family: "RoobertENEL-Bold";
  src: url(../public/fonts/RoobertENEL-Bold.woff2);
}
@font-face {
  font-family: "RoobertENEL-Black";
  src: url(../public/fonts/RoobertENEL-Black.woff2);
}
