/** STYLES**/
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik-Regular", Arial, Helvetica, sans-serif;
}
html {
  font-family: "Rubik-Regular", Arial, Helvetica, sans-serif;
  min-height: 100%;
  position: relative;
  font-size: 1rem;
}
body {
  font-family: "Rubik-Regular", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background-color: var(--czt-claro);
}
:root {
  --prt: #000000;
  --branco: #ffffff;
  --czt: #686868;
  --czt-escuro: #606060;
  --czt-claro: #f6f6f6;
  --laranja: #ffcc99;
  --rosa: #ec708b;
  --verde: #5dff8f;
}
img {
  image-rendering: crisp-edges;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  letter-spacing: 0px;
  font-weight: normal;
}
.centerAlign {
  text-align: center;
}
.paddingBottom {
  padding: 5rem 0 7rem 0;
}
.padding4 {
  padding: 4rem 0 0 0;
}
.padding2 {
  padding: 2rem 0;
}
.rightAlign {
  text-align: right;
}
.centerAlign {
  text-align: center;
}
.numberColor {
  color: #ffcc99;
}
.upperBorder {
  padding: 10px 0 0 0;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: #838383;
}
.paddingRows {
  padding: 10px;
  text-align: left;
}
.nopadding {
  padding: 0;
}
.section5a {
  padding: 4rem 0;
  background-color: var(--czt-claro);
}
button.ContentLink {
  border: none;
  background-color: transparent;
}
/***********************COOKIE BAR**/
.cookie-bar {
  font-size: 0.8rem;
  text-align: center;
  z-index: 9999;
  position: fixed;
  display: block;
  background: linear-gradient(
    90deg,
    rgba(255, 186, 132, 1) 0%,
    rgba(218, 130, 218, 1) 100%
  );
  padding: 5px;
  border-radius: 50px;
  width: 96%;
  left: 2%;
  bottom: 1rem !important;
  padding: 0.8rem 0.5rem;
}

/***********************COOKIE BAR END **/
/************************MODALS POPUPS*/
.modal-header {
  background-color: var(--rosa);
  text-align: center;
  color: var(--branco);
}
.modal-button {
  text-align: center;
}
.condicoes {
  font-size: 0.7rem;
}
.tooltip_error,
.blue span {
  font-size: 0.8rem;
}

/**************************FORM**/
.formContainer {
  background-color: var(--branco);
  border-radius: 2rem;
  padding: 1rem;
  margin: 4.5rem 0 4rem 0;
}
.topSpace {
  margin-top: 140px;
}
.formContainer h1 {
  font-size: 1.4rem;
  color: var(--prt);

  line-height: 1.8rem;
}
.formContainer h1 span {
  font-weight: bold;
}
.formContainer h2 {
  font-size: 1.2rem;
}
.inputField {
  margin-top: 1rem;
}
input {
  overflow: visible;
  background-color: var(--czt-claro);
  border: 1px #8080803d solid;
  border-radius: 0.2rem;
  color: var(--czt);
  padding: 0.3rem 0;
  /* font-size: 0.8rem;*/
}
.PPrivacidade-form {
  font-size: 0.7rem;
  line-height: 0.8rem;
}

.formBox {
  margin-top: 1rem;
}
input#formBox_telefone,
input#formBox_name,
input#formBox_email {
  width: 95%;
}
input#formBox_telefonePopup {
  width: 80%;
}

.btn_enviar {
  font-weight: bold;
  border: none;
  outline: none;
  color: var(--branco);
  font-size: 1rem;
  padding: 0.8rem 1.6rem;
  text-transform: uppercase;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -khtml-border-radius: 40px;
  background: linear-gradient(
    0deg,
    rgb(236, 112, 139) 0%,
    rgb(255, 186, 132) 100%
  );

  letter-spacing: 0.05rem;
}
.btn_enviar:hover {
  color: var(--prt);
  text-transform: uppercase;
  -webkit-box-shadow: 0 3px 16px -9px rgba(30, 30, 30, 1) !important;
  -moz-box-shadow: 0 3px 16px -9px rgba(30, 30, 30, 1) !important;
  box-shadow: 0 3px 16px -9px rgba(30, 30, 30, 1) !important;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -khtml-border-radius: 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background: var(--branco);
  letter-spacing: 0.05rem;
}
.termos-condicoes {
  font-size: 0.658rem;
  text-align: left;
  padding: 2rem 0 1rem 0;
}
.errormessage,
.ng-scope,
.ng-active {
  font-size: 0.8rem;
}
/**************************FORMEND**/


.tooltip_error {
  position: absolute;
  width: 90%;
  display: none;
}
.tooltip_error.show {
  display: block;
  margin-top: -10px;
}
.tooltip_error span {
  position: absolute;
  top: -22px;
  text-align: center;
  margin: 0 auto;
  left: 75px;
  background: #ff9c00;
  border-radius: 60px;
  padding: 2px 5px;
  font-size: 0.8rem;
  color: #333;
}
.tooltip_error .tooltip_arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  bottom: -5px;
  left: 50%;
  border-width: 5px 5px 0;
  border-top-color: #f44602;
}
.tooltip {
  background-color: #0e388e;
  border: 1px solid #fff;
  padding: 8px 12px !important;
  width: auto;
  display: none;
  color: #fff;
  text-align: left;
  font-size: 14px;
  box-shadow: 0 0 10px #000;
  -moz-box-shadow: 0 0 10px #000;
  -webkit-box-shadow: 0 0 10px #000;
}
.tooltip-inner {
  background-color: #ff4401 !important;
}
.tooltip-arrow {
  border-top-color: #ff4401 !important;
}
.boxImage img {
  margin-bottom: 1rem;
}
