body {
  font-family: "UniversRegular";
}

.c2cTop {
  background-color: #ff0f64;
  color: white;
  font-size: 15px;
  padding-bottom: 4px;
}

.c2cBottom {
  background-color: #9e0c40;
  color: white;
  font-size: 18px;
  padding: 3px;
  font-weight: bold;
}
.c2c {
  cursor: pointer;
  width: 200px;
  text-align: center;
}
.errorMessage {
  font-size: 8px;
}
.formTop {
  background-color: #ff0f64;
  color: white;
  text-align: center;
  padding: 10px;
  font-family: "UniversBold";
}
.formTop span {
  float: right;
  cursor: pointer;
}
.form {
  border-style: groove;
  width: 300px;
  text-align: center;
}
.btn {
  background-color: #ff0f64;
  color: white;
  font-family: "UniversBold";
  width: 250px;
  margin-bottom: 30px;
}

.btn:hover {
  background-color: white;
  border: 1px solid #ff0f64;
  color: #ff0f64;
}
.textTop {
  margin-top: 15px;
  font-family: "UniversBold";
  font-size: 18px;
}
.secondTextTop {
  color: #ff4687;
  font-size: 14px;
}
.thirdTextTop {
  font-size: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topText {
  margin-left: 20%;
  text-align: left;
}
i {
  position: absolute;
}
.icon {
  margin-left: 5px;
}
.inputClass {
  text-align: center;
}
.marginTop {
  margin-top: 10px;
}
.warning {
  color: red;
}
.redBorder {
  border-bottom: 1px solid red;
}
.margin {
  margin-bottom: 10px;
}
::placeholder {
  padding-left: 25px;
  text-align: left;
  font-size: 12px;
}

input {
  border: none;
  border-bottom: 1px solid gray;
}
.thirdTextTop span {
  color: #ff4687;
  font-family: "UniversBold";
  font-size: 14px;
}

.privacidade {
  margin-left: 10px;
  font-size: 11px;
}
.obrigatorio {
  font-size: 10px;
  margin-bottom: 5px;
}
/* round checkbox*/
.round {
  position: relative;
  display: flex;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 16px;
  left: 0;
  position: absolute;
  top: 0px;
  width: 16px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 3px;
  left: 1px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #ff0f64;
  border-color: #ff0f64;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.linkPrivacidade {
  color: #ff5a0f;
}
